@page "/user-list"
@attribute [Authorize(Roles = "Admin")]

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">User List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-user">Add New User</a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                                @if (isLoading)
                                {
                                    <p><em>Loading...</em></p>
                                }
                                else
                                {
                                    @if (getUsers.Any())
                                    {
                                        <div class="card-body">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Username</th>
                                                        <th>Email</th>
                                                        <th>Tenant</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var user in getUsers)
                                                    {
                                                        <tr>
                                                            <td>@user.Id</td>
                                                            <td>@user.Username</td>
                                                            <td>@user.Email</td>
                                                            <td>@user.Tenant</td>
                                                            <td>
                                                                <a class="btn btn-success" href="/user/edit/@user.Id"> Edit </a>
                                                            </td>
                                                            <td>
                                                                <a @onclick="() => DeleteUser(user.Id)" class="btn btn-danger"> Delete </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-info"> There is no users availlable</div>
                                    }        
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<GetUserDTO> getUsers { get; set; } = new();

    private bool isLoading  = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadAllUsers();
    }

    public async Task LoadAllUsers()
    {
        isLoading = true;

        var users = await _userService.GetAllUsers();
        if (users is null) return;

        getUsers.Clear();
        getUsers.AddRange(users);

        isLoading = false;
    }

    private async Task DeleteUser(string Id)
    {
        bool response = await _js.InvokeAsync<bool>("confirm", "Do you confirm this action?");
        if (response)
        {
            var result = await _userService.DeleteUserById(Id);
            await LoadAllUsers();
        }
    }
}